.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    padding-top: 20px;
    background-color: #222;
    transform: width 0.3s;
}

.sidebar .nav-link {
    display: fixed;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
    color: #f8f9fa;
}

.sidebar .description {
    font-size: 14px;
}

.sidebar .nav-link:hover {
    background-color: #f8f9fa;
    color: black;
}

.main-content {
    height: 100%;
    margin-left: 200px;
    padding: 20px;
}

.sidebar {
    max-height: 90vh;
    overflow-y: auto;
}

.main-pond-content {
    height: 100%;
    max-width: 93%;
    margin-left: 120px;
    padding: 20px;
}