{% extends "base.html" %}

{% block title %}Edit Unit{% endblock %}

{% block content %}
<div class="container mt-4">
  <!-- Back Button -->
  <a href="{{ url_for('unit_view.view_units', unit_id=unit.id) }}" class="btn btn-outline-secondary mb-3">&larr; Back to Units</a>

  <form action="{{ url_for('unit_view.edit_unit', unit_id=unit.id) }}" method="POST">
    <!-- Admin Details Card -->
    <div class="card shadow-lg">
        <div class="card-header bg-success text-white">
            <h3 class="mb-0">Edit Unit Details</h3>
        </div>
        <div class="card-body row">
            <div class="col-md-6">
                <label><strong>Unit:</strong></label>
                <input type="text" class="form-control" name="unit" value="{{ unit.unit }}" required>
                <label><strong>Unit Type:</strong></label>
                <input type="text" class="form-control" name="unit_type" value="{{ unit.unit_type }}" required>
                <label><strong>Modem ID:</strong></label>
                <input type="text" class="form-control" name="modem_id" value="{{ unit.modem_id }}">
                <label><strong>RUT SN:</strong></label>
                <input type="text" class="form-control" name="rut_sn" value="{{ unit.rut_sn }}">
                <label><strong>RUT MAC:</strong></label>
                <input type="text" class="form-control" name="rut_mac" value="{{ unit.rut_MAC }}">
                <label><strong>Carrier:</strong></label>
                <input type="text" class="form-control" name="rut_carrier" value="{{ unit.rut_carrier }}">
                <label><strong>SIM:</strong></label>
                <input type="text" class="form-control" name="rut_sim" value="{{ unit.rut_sim }}">
                <label><strong>Phone:</strong></label>
                <input type="text" class="form-control" name="rut_phone" value="{{ unit.rut_phone }}">
            </div>
        </div>
        <!-- Save Button -->
    </div>
    <button type="submit" class="btn btn-success mt-3">Save</button>
    <a href="{{ url_for('unit_view.view_units') }}" class="btn btn-secondary mt-3">Cancel</a>
  </form>
</div>
{% endblock %}
