{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">This Weeks Monitoring Logs:</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pond Name</th>
      <th scope="col">Date</th>
      <th scope="col">Time</th>
      <th scope="col">Temperature (c)</th>
      <th scope="col">Forebay pH</th>
      <th scope="col">Forebay NTU</th>
      <th scope="col">Main pH</th>
      <th scope="col">Main NTU</th>
      <th scope="col">IBC Level (L)</th>
      <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
    
      {% for log in logs %}
        <tr>
          <th scope="row">{{ log.id }}</th>
          <td>{{ log.pond_name }}</td>
          <td>{{ log.date }}</td>
          <td>{{ log.time }}</td>
          <td>{{ log.temperature }}</td>
          <td>{{ log.forebay_ph }}</td>
          <td>{{ log.forebay_ntu }}</td>
          <td>{{ log.main_ph }}</td>
          <td>{{ log.main_ntu }}</td>
          <td>{{ log.ibc_level }}</td>
          <td>{{ log.author }}</td>
        </tr>
      {% endfor %}
    
  </tbody>
</table>
<div align="center">
  <a href="{{ url_for('views.download_csv') }}" class="btn btn-success">Download CSV</a>
</div>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}
